##### step 1. load the iris.csv dataset.

In [2]:
import pandas as pd
import numpy as np
iris=pd.read_csv(r"C:\Users\DELL\Untitled Folder\IBM_Python_exercises\Iris.csv")
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

##### 1. Write a Pandas program to get the data types of the given csv data (iris.csv ) fields

In [3]:
### code here
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

##### 2. Write a Pandas program to find the sum, mean, max, min value of 'SepalLengthCm' column of dataframe

In [4]:
### code here
print('Sum of SepalLengthCm Column:', iris['SepalLengthCm'].sum())
print('mean of SepalLengthCm Column:', iris['SepalLengthCm'].mean())
print('Max of SepalLengthCm Column:', iris['SepalLengthCm'].max())
print('Min of SepalLengthCm Column:', iris['SepalLengthCm'].min())

Sum of SepalLengthCm Column: 876.5
mean of SepalLengthCm Column: 5.843333333333335
Max of SepalLengthCm Column: 7.9
Min of SepalLengthCm Column: 4.3

##### 3. Write a Pandas program to import iris data and skipping first twenty rows into a Pandas dataframe.

In [6]:
### code here
skip_iris=pd.read_csv(r"C:\Users\DELL\Untitled Folder\IBM_Python_exercises\Iris.csv",skiprows=range(20))
skip_iris

      20  5.1  3.8  1.5  0.3     Iris-setosa
0     21  5.4  3.4  1.7  0.2     Iris-setosa
1     22  5.1  3.7  1.5  0.4     Iris-setosa
2     23  4.6  3.6  1.0  0.2     Iris-setosa
3     24  5.1  3.3  1.7  0.5     Iris-setosa
4     25  4.8  3.4  1.9  0.2     Iris-setosa
..   ...  ...  ...  ...  ...             ...
125  146  6.7  3.0  5.2  2.3  Iris-virginica
126  147  6.3  2.5  5.0  1.9  Iris-virginica
127  148  6.5  3.0  5.2  2.0  Iris-virginica
128  149  6.2  3.4  5.4  2.3  Iris-virginica
129  150  5.9  3.0  5.1  1.8  Iris-virginica

[130 rows x 6 columns]

##### 4. Write a Pandas program to display the last ten rows.

In [7]:
### code here
iris.tail(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

##### 5. Write a Pandas program to create a subtotal of "PetalLengthCm" against Species from the dataframe.

In [8]:
### code here
iris.groupby('Species')['PetalLengthCm'].sum()

Species
Iris-setosa         73.2
Iris-versicolor    213.0
Iris-virginica     277.6
Name: PetalLengthCm, dtype: float64

In [9]:
#iris[['Species','PetalLengthCm']].groupby('Species').sum()

###### 6. Write a Pandas program to find details where "PetalLengthCm" > 2.

In [10]:
### code here
iris[iris["PetalLengthCm"]> 2]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

###### 7. Write a Pandas program find all records that include two specific Species.

In [13]:
### code here
specific_species = ['Iris-setosa', 'Iris-versicolor']
iris[iris['Species'].isin(specific_species)]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

###### 8.  Write a Pandas program to sort the records by the SepalLengthCm column.

In [20]:
### code here
di.sort_values('SepalLengthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
117,118,7.7,3.8,6.7,2.2,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica

##### 9. Write a Pandas program to insert a column in the sixth position of dataframe and fill it with NaN values.

In [30]:
### code here
di['NEW_COL']=np.NaN
di

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,NEW_COL
0,1,5.1,3.5,1.4,0.2,Iris-setosa,NaN
1,2,4.9,3.0,1.4,0.2,Iris-setosa,NaN
2,3,4.7,3.2,1.3,0.2,Iris-setosa,NaN
3,4,4.6,3.1,1.5,0.2,Iris-setosa,NaN
4,5,5.0,3.6,1.4,0.2,Iris-setosa,NaN
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,NaN
146,147,6.3,2.5,5.0,1.9,Iris-virginica,NaN
147,148,6.5,3.0,5.2,2.0,Iris-virginica,NaN
148,149,6.2,3.4,5.4,2.3,Iris-virginica,NaN
149,150,5.9,3.0,5.1,1.8,Iris-virginica,NaN

##### 10. Write a Pandas program to add summation to a row of the dataframe.

In [24]:
### code here 
iris.sum(axis=1)

C:\Users\DELL\AppData\Local\Temp\ipykernel_15356\880048241.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  p=iris.sum(axis=1)

0         11.2
1         11.5
2         12.4
3         13.4
4         15.2
        ...
147      164.7
148      166.3
149      165.8
sum    13403.2
Sum    26806.4
Length: 152, dtype: float64